.author-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  min-height: 50vh;
  background: url('nitt.jpeg') no-repeat center center/cover;
}

.hero-title {
  font-size: 50px;
  margin-top: 20px;
  font-weight: 600;
  color: #f7efef;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.hero-btn {
  display: inline-block;
  background: linear-gradient(135deg, #4e9af1, #2563eb);
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  cursor: pointer;
}

.hero-btn:hover {
  background: linear-gradient(135deg, #2563eb, #1e40af);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.conference-card {
  position: relative;
  z-index: 2;
  background: #f2f0f0;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}

.conference-title {
  font-size: 40px;
  color: white;
  margin-bottom: 15px;
  background-color: #b9d6fc;
  text-align: center;
  font-weight: bold;
  margin: 0 15px 15px;
}

.cfp-box {
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  padding: 25px;
  margin-bottom: 25px;
  background-color: #ffffff;
}

.section {
  font-size: 18px;
  line-height: 1.7;
  color: #333;
}

.cfp-box-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 40px 30px;
  margin: 40px auto;
  max-width: 1000px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.cfp-title {
  font-size: 48px;
  font-weight: 800;
  background: linear-gradient(90deg, #549880, #0d9947);
  color: white;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(66, 153, 225, 0.4);
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.cfp-text {
  font-size: 18px;
  line-height: 1.8;
  color: #333;
  margin-bottom: 30px;
}

.glow-btn {
  position: relative;
  background: linear-gradient(135deg, #4e9af1, #2563eb);
  color: #fff;
  padding: 14px 32px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.glow-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #46925a, 0 0 40px #4f9d85;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
